<!DOCTYPE html>
<html>
<head>
    <title>Uber App</title>
    <link href="/static/css/styles.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/underscore.js"></script>
    <script src="/static/js/vendor/backbone.js"></script>
		<script src="/static/js/uber.js"></script>
		
		<script type="text/template" id="address-book-template">
			<h1>Address Book</h1>
			<ul class="addresses"></ul>
			<form method="post" id="address-create-form" name="address-create-form" onsubmit="return false">
				<input name="nickname" id="nickname" class="nickname-field" type="text" placeholder="Nickname"/>
				<input name="location" id="location" class="location-field" type="text" placeholder="Address"/>
				<input type="submit" value="add" id="create" />
			</form>
		</script>
		
		<script type="text/template" id="address-template">
			<h1 class="address-nickname"><%= nickname %></h1>
			<p class="address-location"><%= location %></p>
			<ul class="address-actions">
				<li><a href="#" class="edit">Edit</a></li>
				<li><a href="#" class="delete">Delete</a></li>
			</ul>
		</script>
		
		<script type="text/template" id="address-edit-template">
			<form method="post" class="address-edit-form" name="address-edit-form" onsubmit="return false">
				<input name="nickname" class="nickname-field" type="text" />
				<input type="submit" value="save" id="save" />
			</form>
		</script>
		
		<script type="text/javascript">
			jQuery(function() {
				window.addressBook.fetch();
				$('a.edit, a.delete').live('click', function(){
					return false;
				});
			});
		</script>
</head>
<body>
	<div id="container"></div>
</body>
</html>